*.yml      text eol=lf core.whitespace whitespace=tab-in-indent,trailing-space,tabwidth=2
.git*      text eol=auto core.whitespace whitespace=trailing-space

*.bash     text eol=lf core.whitespace whitespace=tab-in-indent,trailing-space,tabwidth=2
*.sh       text eol=lf core.whitespace whitespace=tab-in-indent,trailing-space,tabwidth=2

*.manifest text=auto
*.md       text eol=auto core.whitespace whitespace=tab-in-indent,trailing-space,tabwidth=2

*.ai       binary
*.png      binary
*.svg      text eol=lf core.whitespace whitespace=trailing-space
rootfs.tar binary diff=debian-tarball
*.tar.lz   binary diff=tar
*.tar.xz   binary diff=tar
